Source: ros-hydro-openrtm-tools
Section: misc
Priority: extra
Maintainer: Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
Build-Depends: debhelper (>= 9.0.0), ros-hydro-catkin, ros-hydro-openrtm-aist, ros-hydro-openrtm-aist-python, ros-hydro-rosbash, ros-hydro-rostest, ros-hydro-rtshell
Homepage: http://ros.org/wiki/openrtm_tools
Standards-Version: 3.9.2

Package: ros-hydro-openrtm-tools
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-hydro-openrtm-aist, ros-hydro-openrtm-aist-python, ros-hydro-rosbash, ros-hydro-rtshell
Description: The openrtm_tools package
